@use "./global-rules";

.navbar {
  min-height: 100px;
  padding: 0 10px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  column-gap: 5%;

  > div,
  form {
    display: flex;
    // align-items: stretch;
  }

  .logo {
    img {
      max-width: 50px;
    }
    h1 {
      margin-left: 15px;
      color: var(--h1-color);
      font-family: "Pacifico", cursive;
    }
  }

  .add-store {
    .add,
    .store {
      min-height: 100px;
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 0 10px;
      span {
        font-weight: 500;
        color: var(--navbar-span-color);
      }

      svg path {
        stroke: var(--navbar-svg-stroke);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &:hover svg path {
        fill: var(--navbar-svg-fill);
      }
    }
  }

  #search-bar {
    position: relative;
    input[name="search-input"] {
      top: 1px;
      width: 250px;
      flex: 1;
      outline: none;
      border: none;
      background-color: var(--add-store-form-input-background-color);
      color: var(--add-store-form-input-color);
      padding: 20px;
      font-size: 1em;
      border-radius: 50px;
    }
  }
}
