@use "./global-rules";

.navbar {
  position: relative;
  min-height: 100px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;

  > div,
  form {
    display: flex;
    // align-items: stretch;
  }

  .logo {
    img {
      max-width: 50px;
    }
    h1 {
      margin-left: 15px;
      color: var(--h1-color);
      font-family: "Pacifico", cursive;
    }
  }

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".logo h1",
    (
      display: none,
    )
  );

  .add-store {
    position: relative;
    .add,
    .store {
      height: 100px;
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 0 10px;
      span {
        font-weight: 500;
        color: var(--navbar-span-color);
      }

      svg path {
        stroke: var(--navbar-svg-stroke);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &:hover svg path {
        fill: var(--navbar-svg-fill);
      }
    }

    .recipes-stored {
      position: absolute;
      top: 100%;
      right: 0;
      width: 120%;
      padding: 20px;
      background-color: var(--container-background-color);
      box-shadow: 0px 5px 15px #0000004d;
      perspective-origin: bottom left;
      transform: {
        origin: top right;
        style: preserve-3d;
      }
      transform: rotate3d(1, 0, 0, 90deg) scale(0);
      .message-container {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
          path {
            stroke: var(--navbar-svg-stroke);
          }
          circle {
            fill: var(--navbar-svg-fill);
          }
        }
        P {
          color: var(--navbar-span-color);
        }
      }
    }

    .store:is(:hover, :focus-within) + .recipes-stored,
    .recipes-stored:hover {
      transform: rotate3d(1, 0, 0, 0deg) scale(1);
    }
  }

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".add-store",
    (
      justify-content: space-around,
      position: absolute,
      top: 110%,
      right: 20px,
      background-color: var(--toggle-theme-background-color),
      border-radius: 50px,
      width: 220px,
      height: 40px,
      font-size: 0.7rem,
    )
  );

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".add-store .add",
    (
      height: 40px,
      flex: 1,
      align-self: center,
      border-top-left-radius: 50px,
      border-bottom-left-radius: 50px,
    )
  );

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".add-store .store",
    (
      height: 40px,
      flex: 1,
      align-self: center,
      border-top-right-radius: 50px,
      border-bottom-right-radius: 50px,
    )
  );

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".add-store svg",
    (
      width: 20,
      height: 20,
    )
  );

  #search-bar {
    justify-content: space-around;
    background-color: var(--add-store-form-input-background-color);
    width: 400px;
    border-radius: 50px;
    input[name="search-input"] {
      width: 60%;
      border-radius: inherit;
      outline: none;
      border: none;
      background-color: inherit;
      color: var(--add-store-form-input-color);
      padding: 15px;
      font-size: 15px;
    }
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      background-image: var(--button-background);
      color: #fff;
      border: none;
      border-radius: 50px;
      padding: 10px;
      width: 30%;
      font: {
        size: 15px;
        weight: 600;
      }
      svg {
        margin-right: 5px;
      }
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    &:has(input[name="search-input"]:focus) {
      box-shadow: 0px 5px 15px var(--form-shadow-color);
    }
  }

  @include global-rules.apply-style-with-media-query(
    null,
    1200px,
    "#search-bar",
    (
      width: 250px,
    )
  );

  @include global-rules.apply-style-with-media-query(
    null,
    1200px,
    "#search-bar button",
    (
      width: 50%,
    )
  );

  .toggle-theme {
    position: relative;
    column-gap: 20px;
    align-items: center;
    background-color: var(--toggle-theme-background-color);
    padding: 10px 15px;
    border-radius: 50px;
    svg {
      path {
        fill: var(--toggle-theme-svgs-fill-color);
      }
      &.rotate {
        transform: rotate(360deg);
      }
    }
    .btn {
      position: absolute;
      right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-image: var(--button-background);
      &:hover {
        cursor: pointer;
      }
      &.left {
        transform: translateX(-120%);
      }
    }
  }

  @include global-rules.apply-style-with-media-query(
    null,
    992px,
    ".toggle-theme",
    (
      position: absolute,
      top: 110%,
      left: 20px,
    )
  );
}
