:root {
  --body-background-color: #97d6b5;
  --container-background-color: #fbf9f3;
  --h1-color: #000;
  --navbar-span-color: #000;
  --navbar-svg-stroke: #6aab8b;
  --navbar-svg-fill: #6aab8b;
  --add-store-form-input-background-color: #eae8e4;
  --add-store-form-input-color: #5b515f;
  --button-background: linear-gradient(to left top in lch, #8dc693, #a2e1cb);
  --form-shadow-color: transparent;
  --toggle-theme-svgs-fill-color: #5b5146;
  --toggle-theme-background-color: #eae8e4;
  --main-transition: 0.4s;
}

.dark-theme {
  --body-background-color: #3d6953;
  --container-background-color: #3c3b38;
  --h1-color: #fff;
  --navbar-span-color: #fff;
  --navbar-svg-stroke: #36946b;
  --navbar-svg-fill: #36946b;
  --add-store-form-input-background-color: #32302d;
  --add-store-form-input-color: #eee;
  --button-background: linear-gradient(to left top in lch, #365a3b, #457364);
  --form-shadow-color: #0000004d;
  --toggle-theme-svgs-fill-color: #dad3cd;
  --toggle-theme-background-color: #32302d;
}

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: content-box;
  transition-duration: var(--main-transition);
  transition-timing-function: ease-out;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background-color);
  transition: var(--main-transition);
  padding: 40px 0px;
}

.container {
  margin: auto;
  background-color: var(--container-background-color);
  border-radius: 15px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.navbar {
  position: relative;
  min-height: 100px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.navbar > div,
.navbar form {
  display: flex;
}
.navbar .logo img {
  max-width: 50px;
}
.navbar .logo h1 {
  margin-left: 15px;
  color: var(--h1-color);
  font-family: "Pacifico", cursive;
}
@media (max-width: 992px) {
  .navbar .logo h1 {
    display: none;
  }
}
.navbar .add-store {
  position: relative;
}
.navbar .add-store .add,
.navbar .add-store .store {
  height: 100px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 0 10px;
}
.navbar .add-store .add span,
.navbar .add-store .store span {
  font-weight: 500;
  color: var(--navbar-span-color);
}
.navbar .add-store .add svg path,
.navbar .add-store .store svg path {
  stroke: var(--navbar-svg-stroke);
}
.navbar .add-store .add:hover,
.navbar .add-store .store:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.navbar .add-store .add:hover svg path,
.navbar .add-store .store:hover svg path {
  fill: var(--navbar-svg-fill);
}
.navbar .add-store .recipes-stored {
  position: absolute;
  top: 100%;
  right: 0;
  width: 120%;
  padding: 20px;
  background-color: var(--container-background-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3019607843);
  perspective-origin: bottom left;
  transform-origin: top right;
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 0, 90deg) scale(0);
}
.navbar .add-store .recipes-stored .message-container {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar .add-store .recipes-stored .message-container svg {
  margin-right: 10px;
}
.navbar .add-store .recipes-stored .message-container svg path {
  stroke: var(--navbar-svg-stroke);
}
.navbar .add-store .recipes-stored .message-container svg circle {
  fill: var(--navbar-svg-fill);
}
.navbar .add-store .recipes-stored .message-container P {
  color: var(--navbar-span-color);
}
.navbar .add-store .store:is(:hover, :focus-within) + .recipes-stored,
.navbar .add-store .recipes-stored:hover {
  transform: rotate3d(1, 0, 0, 0deg) scale(1);
}
@media (max-width: 992px) {
  .navbar .add-store {
    justify-content: space-around;
    position: absolute;
    top: 110%;
    right: 20px;
    background-color: var(--toggle-theme-background-color);
    border-radius: 50px;
    width: 220px;
    height: 40px;
    font-size: 0.7rem;
  }
}
@media (max-width: 992px) {
  .navbar .add-store .add {
    height: 40px;
    flex: 1;
    align-self: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}
@media (max-width: 992px) {
  .navbar .add-store .store {
    height: 40px;
    flex: 1;
    align-self: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
@media (max-width: 992px) {
  .navbar .add-store svg {
    width: 20;
    height: 20;
  }
}
.navbar #search-bar {
  justify-content: space-around;
  background-color: var(--add-store-form-input-background-color);
  width: 400px;
  border-radius: 50px;
}
.navbar #search-bar input[name=search-input] {
  width: 60%;
  border-radius: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--add-store-form-input-color);
  padding: 15px;
  font-size: 15px;
}
.navbar #search-bar button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-image: var(--button-background);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 30%;
  font-size: 15px;
  font-weight: 600;
}
.navbar #search-bar button svg {
  margin-right: 5px;
}
.navbar #search-bar button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navbar #search-bar:has(input[name=search-input]:focus) {
  box-shadow: 0px 5px 15px var(--form-shadow-color);
}
@media (max-width: 1200px) {
  .navbar #search-bar {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .navbar #search-bar button {
    width: 50%;
  }
}
.navbar .toggle-theme {
  position: relative;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  background-color: var(--toggle-theme-background-color);
  padding: 10px 15px;
  border-radius: 50px;
}
.navbar .toggle-theme svg path {
  fill: var(--toggle-theme-svgs-fill-color);
}
.navbar .toggle-theme svg.rotate {
  transform: rotate(360deg);
}
.navbar .toggle-theme .btn {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: var(--button-background);
}
.navbar .toggle-theme .btn:hover {
  cursor: pointer;
}
.navbar .toggle-theme .btn.left {
  transform: translateX(-120%);
}
@media (max-width: 992px) {
  .navbar .toggle-theme {
    position: absolute;
    top: 110%;
    left: 20px;
  }
}/*# sourceMappingURL=style.css.map */